body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    color: rgb(0, 0, 0);
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
 
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    padding: 5px;
    
}

.testimonial-card {
    background-color: #f9f9f9;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none; /* Elimina el borde */
    max-width: 400px; /* Limita el ancho máximo del elemento */
    margin: 0 auto; /* Centra el elemento en la página */
}


.testimonial-info {
    margin-bottom: 1px;
}

.testimonial-text {
    font-style: italic;
}

footer {
   
    color: rgb(0, 0, 0);

    padding: 5px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;   
}

footer li {
    margin-right: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;  
    flex-direction: column-reverse;
}

footer li {
    margin-right: 20px;
    position: relative;
    padding-left: 20px;
}

footer li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

footer li:last-child {
    margin-right: 0;
}
